[submodule "thirdparty/fftw3"]
	path = thirdparty/fftw3
	url = https://gitlab.com/chwick/fftw3-qmake.git
[submodule "thirdparty/libuv/libuv"]
	path = thirdparty/libuv/libuv
	url = https://github.com/libuv/libuv.git
[submodule "thirdparty/qwt-lib"]
	path = thirdparty/qwt-lib
	url = https://gitlab.com/chwick/qwt-lib.git
[submodule "thirdparty/tp3log"]
	path = thirdparty/tp3log
	url = https://gitlab.com/tp3/tp3log.git
